backend/.vs/
backend/**/*.user

backend/**/bin/
backend/**/obj/

backend/**/appsettings.json
backend/**/appsettings.*.json

ml-service/venv/
ml-service/__pycache__/
ml-service/**/__pycache__/
ml-service/.env

frontend/node_modules/
frontend/dist/
frontend/.env


.DS_Store
*.log
Thumbs.db